/*ALL-PADRÃO*/
* {
    font-family: 'lato';
    transition: .7s;
}

html {
    scroll-behavior: 'smooth';
}

html,
body {
    overflow-x: hidden;
}

body {
    position: relative
}

img {
    object-fit: cover !important;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.mt-5,
.my-5 {
    margin-top: 5rem !important
}

/*HOME*/

.home-esquerda {
    background: grey;
}

.home-esquerda .slick-track {
    height: 800px !important;
}

.logo-jett-aviao {
    position: absolute;
    width: 300px;
    margin-left: 35px;
    margin-top: 45px;
    z-index: 1;
}

.slick-dotted.slick-slider {
    margin-bottom: 0px !important;
}

.menu-slick {
    position: absolute;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    bottom: 0;
}

.avioes img {
    height: 100%;
    margin-top: 0px;
    margin-left: 0px;
}

.texto-video {
    margin-left: 250px;
    margin-bottom: 25px;
    margin-top: 15px;
}

.texto-video h1 {
    display: inline-block;
    margin-left: 55px;
    margin-top: 20px;
    font-size: 16px;
    color: white;
}

.home-direita h2 {
    font-size: 35px;
    margin-top: 45px;
    color: dimgrey;
}

.home-direita h1 {
    font-size: 100px;
    font-weight: 1000;
    margin-top: 5px;
    padding: 20px 30px 20px 0px;
}

.home-direita h3 {
    font-size: 20px;
    color: dimgrey;
    margin-bottom: 25px;
    padding: 0px 250px 0px 0px;
    font-weight: 500;
}

.home-direita h4 {
    margin-left: 15px !important;
}

.pt-icones {
    margin-top: 10px;
    padding: 20px 20px 20px 0px;
}

.PT-EN {
    font-size: 18px;
}

#aircrafts {
    border-color: red;
    border-radius: 5px;
}

.idioma {
    color: black;
    cursor: pointer;
}

.idioma-selected {
    text-decoration: underline !important;
}

.icones-sociais {
    display: inline-block;
    margin-left: 130px;
}

.icones-sociais img {
    width: 25px;
    margin-left: 2px;
}

#description_pt, #description_en {
    overflow-y: auto;
    height: 150px;
}

.btn-homefaleconosco {
    color: #dedee2;
    background: black;
    padding: 15px 35px 15px 35px;
    border-radius: 3px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.btn-homefaleconosco:hover {
    color: black;
    background: #dedee2;
    text-decoration: none;
}

.botoes-home {
    color: white;
    padding: 0px 334px 0px 0px;
}

.btn-saibamais {
    background: #dedee2;
    padding: 15px 40px;
    border-radius: 3px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    color: black;
}

.btn-saibamais:hover {
    color: #dedee2;
    background-color: black;
    text-decoration: none;
}

.btn-saibamaisA {
    color: black;
}

.fundo-branco-home {
    background: white;
    height: 800px;
    width: 400px;
    position: absolute;
    top: 0;
    transform: skewX(-5deg);
    right: 26%;
    z-index: 1;
}


.home-direita {
    z-index: 2;

}

/*ICONES DE STATUS*/

.status-row {
    background: rgb(187, 28, 53);
    background: linear-gradient(90deg, rgba(187, 28, 53, 1) 0%, rgba(37, 0, 6, 1) 15%, rgba(0, 0, 0, 1) 30%, rgba(19, 3, 5, 1) 70%, rgba(37, 0, 6, 1) 85%, rgba(187, 28, 53, 1) 100%);
    z-index: 2;
    position: relative;
}

.icones-status {
    margin: 15px auto;
    color: white;
    text-align: center;
}

.icones-status h1 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 3rem;
    font-weight: 900;
}

.icones-status img {
    width: 60px;
}

.icones-status h2 {
    font-size: 21px;
    margin-top: 10px;
}

/*FOTO AVIAO NO AR*/


.aviaonoar-row {
    padding: 0;
}

.aviaonoar-row img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.aviaonoar-row div {
    padding: 0;
}

/*MOTOR HÉLICE E AVIÃO ESTACIONADO*/

.motor-helice-row {
    background: rgb(187, 28, 53);
    background: linear-gradient(0deg, rgba(187, 28, 53, 1) 0%, rgba(60, 0, 6, 1) 59%, rgba(50, 0, 6, 1) 90%, rgba(37, 0, 0, 1) 100%);
    color: white;
    text-align: center;
}

.fadetitulo {
    background: rgb(187, 28, 53);
    background: linear-gradient(90deg, rgba(187, 28, 53, 1) 0%, rgba(37, 0, 6, 1) 59%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 1) 100%);
    text-align: left;
    color: #FFFFFF;
}

.motor-helice-row .fadetitulo h1 {
    margin-left: 100px;
}

.fadetitulo h1 span {
    font-weight: 400;
}

#logo {
    margin-top: 42px;
    width: 200px;
}

.motor-helice-row h5 {
    font-weight: 700;
}

.informacao {
    width: 90%;
}


/*FOTOS DE AVIAO*/

.intern-galley {
    margin: -75px;
}

.intern-galley div {
    margin: 0;
    padding: 0;
}

.intern-galley h1 {
    color: white;
    margin: 50px 0;
    font-weight: 300;
}

.intern-galley .slick-track {
    height: 504px;
}

.fotosdeaviao {
    margin: 0;
}

.fotosdeaviao img {
    height: 100%;
    border: 2px solid #000000;
}


/*BAGAGEIRO RAIOX*/
.raiox-bagageiro {
    justify-content: space-around;
}

.raiox-bagageiro div {
    margin: 0;
    padding: 0;
}

.aviaoraiox {
    width: 100%;
    margin: 0 auto;
    max-height: 850px !important;
}

.raiox-bagageiro h1 {
    color: white;
    margin-top: 60px;
    margin-bottom: 80px;
    font-weight: 700;
}

.btn-faleconosco {
    color: white;
    background: black;
    padding: 15px 35px 15px 35px;
    border-radius: 12px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    margin-left: 380px;
    margin-top: 150px;
}

/*RANGE AVIÕES*/
.fadetitulo-inverse {
    background: rgb(187, 28, 53);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 5%, rgba(37, 0, 6, 1) 10%, rgba(187, 28, 53, 1) 100%);
    text-align: left;
    color: #FFFFFF;
}

.fadetitulo-inverse h1 {
    margin-left: 100px;
}

.fadetitulo-inverse h1 span {
    font-weight: 400;
}

#range-planes {
    border-radius: 30px;
    padding: 25px 20px !important;
    margin-top: -100px;
    margin-bottom: -30px;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 5%, rgba(37, 0, 6, 1) 10%, rgba(187, 28, 53, 1) 100%);
    color: #ffffff;
}

#range-planes h2 {
    font-size: 45px;
    font-weight: 700;
}

.comparacao {
    margin: 0 auto !important;
}

#map {
    margin-top: 30px;
    height: 400px;
    width: 100%
}

.selects-planes {
    margin-top: 20px;
}

.selects-planes label {
    margin-top: 10px;
}

.selects-planes select,
input {
    padding: 10px;
}

.selectize-control {
    padding: 0 !important;
}

.selectize-input {
    padding: 0px !important;
}

#airports-selectized {
    width: 100% !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    left: 0px !important;
}

.item {
    cursor: pointer !important;
    padding: 10px !important;
    border: 1px solid black;
}

.selectize-dropdown {
    top: 10px !important;
    border: 1px solid black;
}

.option {
    cursor: pointer;
}

.faixa-black {
    width: 100%;
    background-color: #000000;
    border: none;
    height: 50px;
}

/*AERONAVES DISPONÍVEIS*/

.aeronaves-disponiveis .slick-prev:before,
.aeronaves-disponiveis .slick-next:before {
    color: #000000 !important;
}

.aeronaves-disponiveis {
    margin: 30px 0;
    text-align: center;
}

.aeronaves-disponiveis h1 {
    color: rgb(187, 28, 53);
    margin: 30px;
    font-size: 1.9rem;
    font-weight: bold;
}

.slick-aeronaves-disponiveis {
    width: 90%;
    margin: 10px auto;
}

.card-holder {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.card-disponiveis {
    border-radius: 10px;
    max-width: 250px;
    max-height: 350px;
}

.card-disponiveis img {
    width: 100%;
    max-height: 200px;
}

.middle {
    width: 100%;
    text-align: center;
}

.modal {
    position: fixed;
    display: flex !important;
    background-color: #ffffff;
    border-radius: 30px;
    width: 90% !important;
    height: 90% !important;
    top: 5% !important;
    left: 5% !important;
    padding: 50px;
    border: 1px solid #cccccc;
}

.info-especificacoes p {
    font-size: 12px;
    overflow: auto;
    height: 100px;
}

.info-especificacoes p::-webkit-scrollbar {
    width: 3px;
}

.img-holder-ficha {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.card-img-top-ficha {
    padding: 0 10px;
    margin-top: 10px;
    background-size: cover;
    object-fit: cover;
}

.card-img-top-big {
    max-width: 500px;
    max-height: 500px;
    background-size: cover;
    object-fit: cover;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

/*FORMULARIO-CONTATO*/


/*SOBRE NÓS*/
.sobre-nos {
    text-align: left;
    margin-bottom: 50px;

}

.sobre-nos h1 {
    font-size: 20px;
    margin-top: 65px;
    font-weight: 700;
}

.sobre-nos h2 {
    font-size: 18px;
    color: dimgrey;

}

.sobre-contato h1 {
    font-size: 20px;
    margin-top: 65px;
    font-weight: 700;
}

.sobre-contato p {
    margin: 0 auto;
    color: dimgrey;

}

.sobre-newsletter h2 {
    font-size: 18px;
    color: dimgrey;

}

.sobre-newsletter h1 {
    font-size: 20px;
    margin-top: 65px;
    font-weight: 700;
}

/*CONTATO*/

.whats-form-icon {
    filter: grayscale(4) brightness(6);
    width: 25px;
    margin-right: 20px;
}

.contato-row {
    background: rgb(187, 28, 53);
    background: linear-gradient(90deg, rgba(187, 28, 53, 1) 0%, rgba(37, 0, 6, 1) 30%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 100%);

    padding: 50px 0;
    color: white;
    position: relative;


}

.red-bt {
    width: 140px;
    height: 3px;
    background: rgba(187, 28, 53, 1);
    margin-top: 10px;
}

.title-row-w {
    font-weight: 700;
    color: white;
}

label {
    display: none
}

.contato-row input,
.contato-row textarea {
    padding: 27px;
    font-family: 'montserrat';
    border: 2px solid black;
    border-radius: 8px;
}

.contato-row button {
    background: rgba(187, 28, 53, 1);
    color: white;
    border: 2px solid white;
    border-radius: 0px;
    font-weight: 300;
    transition: .6s ease;
    font-size: 16px;
    min-width: 100%;
    height: 50px;
    text-align: center;
    margin-bottom: 12PX
}

.form-arrow {
    transition: .6s ease;
    opacity: 0;
}

.form-group {
    margin-bottom: 0px;
}

.contato-row .btn:hover,
.contato-row .btn:focus {
    color: white !important
}

.contato-row button:hover .form-arrow {
    margin-left: 10px;
    transition: .6s ease;
    opacity: 1
}

.contato-row h1 {
    margin-bottom: 30px;
}

.contato-row p {
    max-width: 400px
}

.contato-row a p {
    color: white;
    font-weight: 600
}

#form-contato iframe {
    margin-top: 30px
}

.btn-info,
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info {
    background: none !important;
    border: none !important
}

.serv-bg-row {
    background: black;
    display: block;
    position: relative;
    margin-top: -850px !important;
    z-index: 0;
    padding-bottom: 180px
}

.serv-bg-row img {
    position: relative;
    top: -200px;
    margin: 0 auto;
    width: 90%;
    display: block
}

.slick-dots {
    bottom: 60px !important;
}

.slick-dots li button::before {
    font-size: 20px !important;
}

.slick-dots li.slick-active button::before {
    color: black !important;
}

.slick-slider div {
    transition: none;
}

/*COPYRIGHT*/

.copyright-row {
    background: black;
    color: rgba(187, 28, 53, 1);
    padding: 30px 15px 10px 15px;
    text-align: center;
}

.overlay {
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #222;
    opacity: 0.3;
    z-index: 999;
}

.overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.05);
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.footer {
    color: #FFFFFF !important;
    padding-top: 30px;
}

.footer h3 {
    font-size: 1rem;
}

.logotipo {
    color: #FFFFFF;
    width: 200px;
}

.icons-rs-footer img {
    width: 20px;
    margin: 0 10px;
}


/*MEDIA QUERY*/

@media (min-width: 1920px) {
    .fundo-branco-home {
        background: white;
        height: 800px;
        width: 400px;
        position: absolute;
        top: 0;
        transform: skewX(-5deg);
        right: 32%;
        z-index: 1;

    }

    .home-direita h3 {
        font-size: 22px;
        color: dimgrey;
        margin-bottom: 60px;
        margin-top: 25px;
        padding: 0px 409px 0px 0px;
        font-weight: 500;
    }

    #aircrafts {
        border-color: red;
        height: 40px;
        border-radius: 5px;
        border: solid 2px red;
    }

    .PT-EN {
        font-size: 22px;
        font-weight: 800;
    }



    .motor-helice-row .fadetitulo h1 {
        margin-left: 350px;
    }

    .fadetitulo-inverse h1 {
        margin-left: 350px;
    }

    .aviaoraiox {
        /* width: 100%; */
        margin: 0 auto;
        max-height: 800px;
    }

    #range-planes h2 {
        font-size: 45px;
        font-weight: 700;
        padding-top: 50px;
    }

    #airports-selectized {
        width: 100% !important;
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        transition: none !important;
        left: 0px !important;
        border-radius: 10px;
        border: 2px solid black;
    }

    .selects-planes select,
    input {
        padding: 10px;
        border-radius: 10px;
        border: 2px solid black;
    }

    .container {
        max-width: 1400px
    }

    .aviaoraiox {
        width: auto;
        margin: 0 auto;
        max-height: 800px;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1400px !important;
    }

    #range-planes {
        border-radius: 30px;
        padding: 20px !important;
        margin-top: -100px;
        margin-left: -80px;
        margin-bottom: -30px;
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 5%, rgba(37, 0, 6, 1) 10%, rgba(187, 28, 53, 1) 100%);
        color: #ffffff;
    }

    .aeronaves-disponiveis {
        margin: 30px 0;
        text-align: center;
        width: 1400px;
        margin: auto;
        padding: 35px 20px 100px 10px;
    }

    footer .justify-content-center {
        -ms-flex-pack: center!important;
        justify-content: center!important;
        margin-left: 170px !important;
    }

    .contato-row p {
        max-width: 400px;
        font-size: 18px;
    }

    .btn-saibamais {
        background: #dedee2;
        padding: 15px 40px;
        border-radius: 3px;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
        color: black;
        margin-left: -160px;
    }

    #logo {
        margin-top: 65px;
        width: 240px;
    }
}

@media (max-width: 1600px) {
    .logo-jett-aviao {
        width: 120px;
        margin-left: 15px;
        margin-top: 20px;
    }

    .avioes img {
        height: 800px;
        margin-top: 0px;
        margin-left: 0px;
    }

    .texto-video {
        margin-left: 190px;
        margin-bottom: 25px;
        margin-top: 30px;
    }

    .texto-video h1 {
        display: inline-block;
        margin-left: 30px;
        margin-top: 10px;
        font-size: 16px;
        color: white;
    }

    .home-direita h2 {
        font-size: 35px;
        margin-top: 45px;
        color: dimgrey;
    }

    .home-direita h1 {
        font-size: 40px;
        font-weight: 500;
        margin-top: 5px;
        padding: 20px 30px 20px 0px;
    }

    .home-direita h3 {
        font-size: 20px;
        color: dimgrey;
        margin-bottom: 60px;
        margin-top: 25px;
        padding: 0px 220px 0px 0px;
        font-weight: 500;
    }

    .fundo-branco-home {
        background: white;
        height: 800px;
        width: 400px;
        position: absolute;
        top: 0;
        transform: skewX(-5deg);
        right: 20%;
        z-index: 1;
    }

    .pt-icones {
        padding: 20px 20px 20px 0px;
    }

    .PT-EN {
        font-size: 15px;
    }

    .icones-sociais {
        display: inline-block;
        margin-left: 100px;
    }

    .icones-sociais img {
        width: 25px;
        margin-left: 2px;
    }

    .btn-homefaleconosco {
        color: white;
        background: black;
        padding: 5px 15px 5px 15px;
        border-radius: 3px;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
    }

    .botoes-home {
        color: white;
        margin-bottom: 45px;
        padding: 0px 100px 0px 0px;
    }

    .btn-saibamais {
        background: #dedee2;
        padding: 5px 15px 5px 15px;
        border-radius: 3px;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
    }

    .btn-saibamaisA {
        color: black;
    }

    .home-direita {
        z-index: 2;
    }

    .raiox-bagageiro h1 {
        font-size: 40px;
        font-weight: 400;
        margin-left: 150px;
        margin-top: 70px;
    }

    .raiox-bagageiro h2 {
        font-size: 30px;
        margin-top: 60px;
        font-weight: 800;
        margin-left: 85px;
    }

    .raiox-bagageiro h3 {
        font-size: 20px;
        margin-left: 150px;
        margin-top: 30px;
        margin-bottom: 45px;
        color: dimgrey;
    }

    .btn-faleconosco {
        color: white;
        background: black;
        padding: 10px 25px 10px 25px;
        border-radius: 12px;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
        margin-left: 380px;
        margin-top: 80px;
    }
}

@media (max-width: 1200px) {
    .logo-jett-aviao {
        width: 120px;
        margin-left: 15px;
        margin-top: 20px;
    }

    .estrelas {
        display: inline-block;
        margin-left: 100px;
    }

    .estrelas img {
        width: 40px;
        margin-top: 30px;
        margin-left: 70px;
    }

    .avioes img {
        height: 800px;
        margin-top: 0px;
        margin-left: 0px;
    }

    .texto-video {
        margin-left: 120px;
        margin-bottom: 25px;
        margin-top: 15px;
    }

    .texto-video h1 {
        display: inline-block;
        margin-left: 30px;
        margin-top: 10px;
        font-size: 14px;
        color: white;
    }

    .home-direita h2 {
        font-size: 25px;
        margin-top: 45px;
        color: dimgrey;
    }

    .home-direita h1 {
        font-size: 30px;
        font-weight: 500;
        margin-top: 5px;
        padding: 20px 30px 20px 0px;
    }

    .home-direita h3 {
        font-size: 15px;
        color: dimgrey;
        margin-bottom: 60px;
        margin-top: 25px;
        padding: 0px 280px 0px 0px;
        font-weight: 500;
    }

    .fundo-branco-home {
        background: white;
        height: 800px;
        width: 350px;
        position: absolute;
        top: 0;
        transform: skewX(-5deg);
        right: 20%;
        z-index: 1;
    }

    .pt-icones {
        padding: 20px 20px 20px 0px;
    }

    .PT-EN {
        font-size: 15px;
    }

    .icones-sociais {
        display: inline-block;
        margin-left: 100px;
    }

    .icones-sociais img {
        width: 25px;
        margin-left: 2px;
    }

    .btn-homefaleconosco {
        color: white;
        background: black;
        padding: 5px 15px 5px 15px;
        border-radius: 3px;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
    }

    .botoes-home {
        color: white;
        margin-bottom: 45px;
        padding: 0px 100px 0px 0px;
    }

    .btn-saibamais {
        background: #dedee2;
        padding: 5px 15px 5px 15px;
        border-radius: 3px;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
    }

    .btn-saibamaisA {
        color: black;
    }

    .home-direita {
        z-index: 2;
    }

    .raiox-bagageiro h1 {
        font-size: 40px;
        font-weight: 400;
        margin-left: 150px;
        margin-top: 70px;
    }

    .raiox-bagageiro h2 {
        font-size: 30px;
        margin-top: 60px;
        font-weight: 800;
        margin-left: 85px;
    }

    .raiox-bagageiro h3 {
        font-size: 20px;
        margin-left: 150px;
        margin-top: 30px;
        margin-bottom: 45px;
        color: dimgrey;
    }

    .btn-faleconosco {
        color: white;
        background: black;
        padding: 10px 25px 10px 25px;
        border-radius: 12px;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
        margin-left: 380px;
        margin-top: 80px;
    }
}

@media (max-width: 600px) {
    .menu-slick {
        bottom: 0px;
        width: 400px;
        background: rgb(0, 0, 0);
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    }

    .texto-video {
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 0;
        display: flex;
        justify-content: space-around;
    }

    .texto-video h1 {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10px;
        font-size: 12px;
        color: white;
    }

    .avioes img {
        height: auto;
        margin-top: 0px;
        margin-left: 0px;
    }

    .PT-EN {
        font-size: 15px;
        padding-left: 10px;
    }

    .icones-sociais {
        display: inline-block;
        position: absolute;
        right: 10px;
    }

    .home-direita h2 {
        font-size: 25px;
        margin-top: 25px;
        color: dimgrey;
        padding-left: 20px;
    }

    .home-direita h1 {
        font-size: 30px;
        font-weight: 500;
        margin-top: 5px;
        padding: 20px 30px 20px 20px;
    }

    .home-direita h3 {
        font-size: 15px;
        color: dimgrey;
        margin-bottom: 60px;
        margin-top: 25px;
        padding: 0px 10px 0px 20px;
        font-weight: 500;
    }

    .botoes-home {
        color: white;
        margin-bottom: 45px;
        padding: 0px 0px 0px 20px;
    }

    .btn-homefaleconosco {
        color: white;
        background: black;
        padding: 5px;
        border-radius: 3px;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
    }

    .btn-saibamais {
        background: #dedee2;
        padding: 5px;
        border-radius: 3px;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
    }

    .fundo-branco-home {
        display: none;
    }

    .raiox-bagageiro h1 {
        font-size: 40px;
        font-weight: 400;
        margin-left: 50px;
        margin-top: 70px;
    }

    .raiox-bagageiro h2 {
        font-size: 30px;
        margin-top: 60px;
        font-weight: 800;
        margin-left: 0px;
        text-align: center;
    }

    .raiox-bagageiro h3 {
        font-size: 20px;
        margin-left: 50px;
        margin-top: 30px;
        margin-bottom: 45px;
        color: dimgrey;
    }

    .raiox-icones {
        text-align: center;
    }

    iframe {
        width: 360px;
    }

    .btn-faleconosco {
        color: white;
        background: black;
        padding: 5px 15px 5px 15px;
        border-radius: 12px;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
        margin: 30px auto;
    }

    .btn-homefaleconoscoA {
        margin-left: 10px;
        width: 50% !important;
    }

    .btn-saibamaisA {
        width: 40% !important;
    }

    .contato-row {
        background: rgb(187, 28, 53);
        background: linear-gradient(0deg, rgba(187, 28, 53, 1) 0%, rgba(37, 0, 6, 1) 30%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 100%)
    }

    .formulario-contato-row,
    .sobre-nos-row {
        padding-left: 20px;
        padding-right: 20px;
    }

    .raiox-detalhes {
        display: flex;
        justify-content: center;
    }
}