.btn-secondary {
	background-color: #3e7fc1;
}
.btn-secondary:hover, 
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
	background-color: #3e7fc1;
}
.btn-black:hover, 
.btn-black:focus,
.btn-black:active,
.btn-black.active {
	background-color: #0b0b0b;
}

.btn-secondary, 
.btn-secondary:hover, 
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active, 
.btn-black, 
.btn-black:hover, 
.btn-black:focus,
.btn-black:active,
.btn-black.active {
	color: #fff;
}

.regiao { 
 display: none;
}